<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="css/styles.css"/> <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
        <p style="font-size:40px;">This website is a exercise to understand how API's work with 
            other online methods. If the first 'Weather' page shows you roughly, within a few degrees 
            of, the current temperature, then this website has been a success in accomplishing API access. 
        </p>
        <p1 style="font-size:40px;">This website also shows the ability to create multiple webpages
            whithin the same localhost.
        </p1>
        <script src="js/app.js"></script> <!-- absolute path -->
    </body>
</html>